.header {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}
.button-style {
  padding: 10px;
  margin: 55px;
  font-size: 15px;
  margin-top: 10px !important;
  color:black
}
.title {
  color: black;
}
.output {
  margin: 25px;
  padding: 15px;
}
.input-style {
  width: 375px;
}
