.card-container {
    margin: 25px;
    border: solid 2px white;
    width: 300px;
    height: 175px;
  }
  .font-black {
    color: black;
  }
  .title {
    font-weight: 600;
    font-size: 20px;
  }